//colors
$color-primary:#c69963;
$color-primary-dark:#B28451;

$color-dark:#101d2c;

$color-grey-light-1:#f9f7f6;
$color-grey-light-2:#aaa;

$color-grey-dark-1:#54483A;
$color-grey-dark-2:#6D5D48;
$color: #fff;

$family-display:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$family-watch:Arial, Helvetica, sans-serif;

///responsive
$bp-lagest:68.75em ; ///1100px
$bp-large:56.25em; //900px
$bp-medium:50em ;  //800px
$bp-small:31.875em;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width:$bp-lagest) {
        font-size: 56%;  //8px
    }
    
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    line-height: 1.7;
    
}

.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
    grid-template-columns:[side-start] 8rem [side-end full-start]  minmax(6rem,1fr) [center-start] 
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem,1fr) [full-end];
    color: $color-grey-dark-2;
    font-family: $family-display;

    @media only  screen and (max-width:$bp-large) {
        grid-template-rows: 6rem  80vh min-content 40vw repeat(3,min-content);
        grid-template-columns:[ full-start]  minmax(6rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
        [center-end] minmax(6rem,1fr) [full-end];
    }

    @media only  screen and (max-width:$bp-medium) {
        grid-template-rows: 6rem  calc(100vh-6rem) min-content min-content 40vw repeat(3,min-content);
        
    }
   
}